:root {
    --main-accent: #85D079;
    /*Logo, accents, separators, etc.*/
    --main-bg: #EFF7FF;
    /*Main site bg.*/
    --main-bg-font1: black;
    --main-bg-font2: rgb(36, 36, 36);
    --main-contrast: #1D2F6F;
    /*Main context menu bg.*/
    --main-contrast-font: #dfece8;
    --second-contrast: #023618;
    /*Secondary context menu bg.*/
    --box-bg-transparent: #e7edffda;

    /*HAMBURGUER MENU*/
    --bar-width: 25px;
    --bar-height: 5px;
    --hamburger-gap: 3px; 
    --margin: 15px;
    --animation-timing: 200ms ease-in-out;
    --hamburguer-box-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
    --sidebar-bg: #1d2f6fd3;
}
html {
    color-scheme: light;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    background-color: var(--main-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex: 1;
}
/* #region HEADER */
header {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--main-contrast);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px 10px;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    transition: 0.5s;
}
header picture {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-contrast);
    border-radius: 50px;
    padding: 5px 15px 5px 5px;
}
label.hamburger-menu {
    --x-width: calc(var(--hamburguer-box-height) * 1.41421356237); /*sqrt of 2*/
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: absolute;
    top: var(--margin);
    right: calc(var(--margin) + 5px);
    z-index: 10;
    cursor: pointer;
    transition: 1s;
}
label.hamburger-menu:has(input:focus-visible)::before,
label.hamburger-menu:has(input:focus-visible)::after,
label.hamburger-menu input:focus-visible {
    border: 1px solid red;
}
label.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}
label.hamburger-menu:has(input:checked)::before {
    transform: rotate(-45deg);
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}
label.hamburger-menu:has(input:checked)::after {
    transform: rotate(45deg);
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}
label.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}
label.hamburger-menu::before,
label.hamburger-menu::after,
label.hamburger-menu input {
    content: '';
    width: var(--bar-width);
    height: var(--bar-height);
    background: var(--main-bg);
    border-radius: 2px;
    outline: 2px solid var(--main-contrast);
    box-shadow: 0 0 10px var(--main-contrast);
    transform-origin: right center;
    transition: opacity var(--animation-timing),
        width var(--animation-timing),
        rotate var(--animation-timing),
        translate var(--animation-timing);
}
.sidebar {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: transform .5s ease-in-out;
    transform: translateX(110%); /* Use a variable to store the sidebar height */
    position: absolute;
    background-color: var(--sidebar-bg);
    color: var(--main-contrast-font);
    top: 60px;
    right: 0;
    z-index: 1;
}
.sidebar nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0px;
    margin: 0;
}
.sidebar nav div {
    width: 100%;
}
.sidebar nav div hr {
    mix-blend-mode: multiply;
    padding: 0;
    margin: 0;
}
.sidebar a {
    text-align: center;
    color: var(--main-contrast-font);
    text-decoration: none;
    margin: 0;
    padding: 10px 20px;
    display: block;
}
.sidebar a:hover {
    background-color: var(--main-contrast);
}
label.hamburger-menu:has(input:checked) + .sidebar {
    transform: translateX(0);
}
.inline-icon {
    /*Aligns material icon with the text content*/
    vertical-align: bottom;
    font-size: 1.1em !important;
}
.material-symbols-outlined {
    color: var(--main-contrast-font);
}
/*#endregion*/


/*#region MAIN*/
main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%; /* FLAG 001 (FIX WIDTH) FLEX-BASIS: 100% */
}
#hgroup-flex-wrapper {
    margin: 0;
    padding: 0;
    background: url(/assets/images/richard-t-yovhXPl8V1M-unsplash.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%; /* FLAG 001 */
    display: flex;
    align-items: center;
    justify-content: center;
}
hgroup {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--box-bg-transparent);
    box-shadow: 0 0 200px #25272da8;;
    text-align: center;
    padding: 40px 60px;
    font-size: 1.5em;
}
#title {
    margin-bottom: 0;
    letter-spacing: 5px;
}
#sub-title {
    font-size: 1em;
    margin-top: 5px;
    font-weight: lighter;
}

section#solution-grid {
    padding: 40px;
    max-width: 70%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 300px;
    gap: 20px;
    overflow-x: auto;
    overscroll-behavior: contain;
    scroll-behavior: smooth;
    background: var(--main-bg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.solution-grid-item {
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: inset 0 0 300px black;
}
h3.solution-title {
    background: linear-gradient(0deg, transparent 0%, var(--box-bg-transparent) 20%, var(--box-bg-transparent) 80%, transparent 100%);
    margin: 0;
    text-align: center;
    padding: 30px 0;
    font-size: 2em;
    width: 100%;
}
#solution-lighting {
    background: url(/assets/images/ryan-lange-G-Mt7oxXX3A-unsplash.jpg);
    background-size: cover;
}
#solution-temperature {
    background: url(/assets/images/bigstock-Water-Conditioning-Room-80722916.jpg);
    background-size: cover;
}
#solution-filtration {
    background: url(/assets/images/Erlab-HALO-Air-Filtration-System.jpg);
    background-size: cover;
}
.transparent {
    background-color: transparent;
}

/*#endregion*/

/* TODO: HORIZONTAL SCROLL MENU FOR IMAGES. */
/* <!-- TODO: CONTINUE MAIN SECTION, ADD PRODUCTS OVERVIEW, PLAN DETAILS, CONTACT INFORMATION, LEGAL STUFF AND FINISH THE FOOTER--> */